<%= render 'home' %>

<% if is_owner() %>


<h1>Editing Group: <%= @group.name %> </h1>

<% if !@owners.nil? %>
	Owner(s): 
	<% @owners.each do |o| %> 
		<%= Person.find(o.person_id).name %>  | 
	<% end %>
<% end %>

<%= form_for @group do |f| %>
	<p> 
		<%= f.label :name %>
		<%= f.text_field :name %> <br />
	</p>

	<p> 
	Add New Owner: <%= select_tag "owners", options_from_collection_for_select(@users, "id", "name"), :include_blank => 'User...' %>
	</p>

	<p> 
	Add New Member: <%= select_tag "members", options_from_collection_for_select(@users, "id", "name"), :include_blank => 'User...' %>
	</p>

	<h3>People </h3>
	<table>
		<tr>
			<th> Name </th>
			<th> Role </th>
			<th> Edit </th>
		</tr>
	<% if !@memberships.nil? %>
	<% @memberships.each do |m| %>
			<tr> 
				<% @person = Person.find(m.person_id) %>
				<td> <%= @person.name %></td>

				<td> <%= select_tag "role" + @person.id.to_s, options_for_select([ "owner", "member" ], m.role) %> </td> 

				<td> <%= link_to 'Remove from group', :controller => 'groups', :action => 'remove_member', :m_id => m.id %></td>
			</tr>
		<% end %>
	<% end %>
		


	</table>
	<p> <%= f.submit %> </p>
	<% end %>


<br/>


Current Documents: <br/>
 
<% if !@documents.blank? %>
	<% for item in @documents %>
		<%= link_to item.title, :controller=> 'documents', :action => 'show', :id=> item.id %> <br/>
<% end %>

<% else %>
	<p> no documents found </p>

<% end %>


<% else %>

<p class = "permissionError"> You do not have permission to view this page </p>

<% end %>

<p></p>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', group_path %>

