<%= render 'home' %>

<h1>Editing Group: <%= @group.name %> </h1>

<% if !@owners.nil? %>
	Owner(s): 
	<% @owners.each do |o| %> 
		<%= link_to User.find(o.user_id).name, :controller => 'users', :action => 'show', :id => o.user_id %> 
	<% end %>
<% end %>

<%= form_for @group do |f| %>
	<p> 
		<%= f.label :name %>
		<%= f.text_field :name %> <br />
	</p>

	<p> 
	Add Owner: <%= select_tag "owners", options_from_collection_for_select(@users, "id", "name", @first) %>
	</p>

	

	<p>
		<%= f.submit %>

	</p>
<% end %>

<h3>People </h3>
<table>
	<tr>
		<th> Name </th>
		<th> Role </th>
		<th> Edit </th>
	</tr>
	<% @memberships.each do |m| %>
		<tr> 
			<% @person = User.find(m.user_id) %>
			<td> <%= link_to @person.name, @person %></td>
			<td> <%= m.role %> </td> 
			<td> <%= link_to 'Remove from group', :controller => 'groups', :action => 'remove_member', :m_id => m.id, :group => Group.find(m.group_id) %></td>
		</tr>
	<% end %>


</table>

<br/>

Current Documents: <br/>
 
<% if !@documents.blank? %>
	<% for item in @documents %>
		<%= link_to item.title, :controller=> 'documents', :action => 'show', :id=> item.id %> <br/>
<% end %>

<% else %>
	<p> no documents found </p>

<% end %>
<p></p>

<%= link_to 'Show', @group %> |
<%= link_to 'Back', group_path %>