<p>Find me in app/views/welcome/index.html.erb</p>

	<% if person_signed_in? %>
	<h1>Welcome <%= current_person.name %></h1>
	<ul>
		<li> 
			<%= link_to 'Sign Out', destroy_person_session_path, method: :delete %>
		</li>
		<li> <%= current_person.email %></li>
		<li> <%= link_to 'Edit Account', edit_person_registration_path %></li>
	</ul>

	<p>
		Enter token to join group. PLEASE BE CAREFUL OF EXTRA SPACES
		<%= form_for(@invite, url: invites_path) do |f| %>
		    <%= f.label 'Token:' %>
		    <%= f.text_field :token %>
		    <%= f.submit 'Submit' %>
		<% end %>

	</p>



	<h2> My Groups </h2>
	<p>
	<ul>
		<% @mygroups.each do |g| %>

			<li><%= link_to g.name, :controller => 'groups', :action => 'show', :id => g.id%> (<%= Devisemembership.find_by(group_id: g.id, person_id: current_person.id).role %>) </li>
		<% end %>

		</ul>
	<br>
	-----------------------------------------------------------
	</p>


	<% else %>

		<%= link_to 'Sign in', new_person_session_path %>

		 <%= link_to 'Sign up', new_person_registration_path %>

	<% end %>



<%= link_to 'Groups', :controller => 'groups', :action => 'index' %> 
<br/>
<%= link_to 'Documents', :controller => 'documents', :action => 'index' %> 
<br/>

<%= link_to'Create Documents', :controller => 'documents', :action =>'new' %>

<br/>
<%= link_to'Create Groups', :controller => 'groups', :action =>'new' %>

<br/>
<%= link_to'Create Users', :controller => 'users', :action =>'new' %>


