	<% if person_signed_in? %>
	<h1>Welcome <%= current_person.name %></h1>
	<ul>
		<li> 
			<%= link_to 'Sign Out', destroy_person_session_path, method: :delete %>
		</li>
		<li> <%= current_person.email %></li>
		<li> <%= link_to 'Edit Account', edit_person_registration_path %></li>
	</ul>

	<p>
		Enter token to join group. PLEASE BE CAREFUL OF EXTRA SPACES
		<%= form_for(@invite, url: invites_path, html: { name: "join-via-token"}) do |f| %>
			<%= f.label 'Token:' %>
			<% if params[:invite_token] %>
				<%= f.text_field :token, :value => params[:invite_token] %>
					<script>
						window.onload = function(){
							document.forms['join-via-token'].submit();
						}
					</script>
			<% else %>
		    <%= f.text_field :token %>
		    <% end %>
		    <%= f.submit 'Submit' %>
		<% end %>

	</p>

<p>
<% # original group joining method: auto join by entering group name %>
Join Group by Entering Name: 
	<%= form_tag do %>
		<%= text_field_tag 'groupName'%>
		<%= submit_tag 'Join'%>
	<% end %>

</p>



	<h2> My Groups </h2>
	<p>
	<ul>
		<% @mygroups.each do |g| %>

			<li><%= link_to g.name, :controller => 'groups', :action => 'show', :id => g.id%> (<%= Devisemembership.find_by(group_id: g.id, person_id: current_person.id).role %>) </li>
		<% end %>

		</ul>
	<br>
	-----------------------------------------------------------
	</p>


	<% else %>

		<%= link_to 'Sign in', new_person_session_path %> <br/>

		 <%= link_to 'Sign up', new_person_registration_path %> <br/>

	<% end %>




<%= link_to'Create Documents', :controller => 'documents', :action =>'new' %>

<br/>
<%= link_to'Create Groups', :controller => 'groups', :action =>'new' %>


