<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= link_to 'Groups', :controller => 'groups', :action => 'index' %> 
<br/>
<%= link_to 'Documents', :controller => 'documents', :action => 'index' %> 
<br/>

<%= link_to'Create Documents', :controller => 'documents', :action =>'new' %>

<br/>
<%= link_to'Create Groups', :controller => 'groups', :action =>'new' %>

<br/>
<%= link_to'Create Users', :controller => 'users', :action =>'new' %>


