<%= render 'home' %>

<h1> Documents </h1> 

Search for a Document: 
<%= form_tag documents_path, :method => 'get' do %>
	<%= text_field_tag :search, params['search'] %>
	<%= submit_tag "Search" %>
<% end %>
<br/>

<%= link_to "See all documents", :controller => 'documents', :action => 'index'%> 

<h3> Listing Documents: <br/> </h3>
 
<% if !@documents.blank? %>
	<% for item in @documents %>
		<%= link_to item.title, :controller => 'documents', :action => 'show', :id => item.id %> <br/>
	<% end %>

<% else %>
	<p> no documents found </p>

<% end %>