<!DOCTYPE html>
<html>
<head>
  <title>MyApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<div>
	<% flash.each do |key, val| %>
		<div class="flashes"> <%= val %>
	<% end %>
		
</div>


<% if person_signed_in? %>
	<p> Signed in as <%= current_person.name%></p> 
<% else %>
	<p> Not signed in </p>
<% end %>
<%= yield %>

</body>
</html>
